<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Blog in detail</title>
</head>
<body>
    <div class="navbar">
        <h1 class="title">The Rabbit Hole</h1>
        <h3 class="writeTitle">Blog in detail</h3>
    </div>
    <div class="postCard">
        <h3 class="postTitle"><%=blog.topic%></h3>
        <h4>Author Name:<%= blog.writer %></h4>
        <p>
            <%=blog.content%>
        </p>
    </div>
</body>
</html>